---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import IntegralCare from "../components/IntegralCare.astro";
import Pillars from "../components/Pillars.astro";
import LifePhases from "../components/LifePhases.astro";
import Conditions from "../components/Conditions.astro";
import Treatments from "../components/Treatments.astro";
import Process from "../components/Process.astro";
import About from "../components/About.astro";
import PremiumCTA from "../components/PremiumCTA.astro";
import Differentials from "../components/Differentials.astro";
import Clinic from "../components/Clinic.astro";
import Pricing from "../components/Pricing.astro";
import Faq from "../components/Faq.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import FloatingWhats from "../components/FloatingWhats.astro";
---

<Base>
  <Header />
  <main>
    <Hero />
    <IntegralCare />
    <Pillars />
    <LifePhases />
    <Conditions />
    <Treatments />
    <Process />
    <About />
    <PremiumCTA />
    <Differentials />
    <Clinic />
    <Pricing />
    <Faq />
    <Contact />
  </main>
  <Footer />
  <FloatingWhats />
</Base>
